################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatchupThrottling/CatchupThrottling/bin/Debug/netcoreapp5.0
